
.woman, .speechBubble {
  position: "absolute";
  z-index: 1;
}

.stockLine, .stockContainer {
  border-radius: 10px;
  background: rgba(0,0,0, 0.4);
}

.stockContainer {
  padding: 10px;
  margin: 10px;
}

.buysell {
  display: flex;
  width: 100%;
  flex: 1;
  margin:5px
}

:root {
  --main-bg-color: #ffffff14;
  --box-bg-color: #ffffff30;
  --box-border-radius: 8px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
